@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  font-family: "Oswald", sans-serif;
  background-color: #9b9393;
  margin: 0;
  padding: 0;
  background-image: url('../image/3607424.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
    /* color: White; */
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white
}
.form-group {
  margin-bottom: 15px;
  justify-content: left;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: -10px;
  margin-right: auto;
  display: block;
}
.form-group input[type="radio"] {
  display: flex;
  margin-top: 25px;
  margin-bottom: -15px;
}
.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-group button:hover {
  background-color: #4cae4c;
}

.welcome-message {
  text-align: left;
  font-size: 2em;
  color: white;
  margin-top: 20px;
}
